.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.bodyHome{
    background: #0f9552;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home{
    background: #672a8f;
    color: white;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 30px;
}
#titleHome{
    color: white;
  
    padding: 10px 60px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    position: fixed;
    text-decoration: none!important;
}
audio{
    width: 100%;
}
h4{
    color: white;
    background-color: #672a8f;
   
    padding: 20px;
}

.show{
    background: #0f9552;
}

.forward{
    float: right;
    font-size: 30px;
    font-weight: bolder;
}